*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 30px auto;
    max-width: 1200px;
}
.slider {
    margin-top: 25px;
    width: 256px;
    height: 171px;
    margin: 10px auto;
    overflow: hidden;
}
.slider-line {
    height: 171px;
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.box-btn{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.btn{
    padding: 5px 15px;
    margin: 10px;
    background-color: rgb(255, 130, 130);
}